<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <add key="browserSupportListFile" value=".\DataFiles\browsers.json" />
    <add key="specDataFile" value=".\TypeMirrorDataFiles\SpecMirror.js" />
    <add key="browserDataFilePath" value="D:\GitHub\Ascension\TypeMirror\Data\" />
  </appSettings>
</configuration>
