<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off" />
    <compilation />
    <httpRuntime maxRequestLength="1048576" />
  </system.web>
    <system.webServer>
        <security>
            <requestFiltering>
                <verbs>
                    <add verb="get" allowed="true" />
                    <add verb="post" allowed="true" />
                </verbs>
            </requestFiltering>
        </security>
        <directoryBrowse enabled="true" />
    </system.webServer>
  <!--
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
  -->
</configuration>