<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <appSettings>
    <add key="fullBrowserVersionListFilePath" value="F:\GitHub\Project-Parity\PropertyDiffer\PropertyDiffer\BrowserRelease.json"/>
    <add key="specDataFile" value="F:\GitHub\Project-Parity\PropertyDiffer\PropertyDiffer\TypeMirrorJsonFiles\SpecMirror.js"/>
    <add key="browserDataFilePath" value="D:\GitHub\Ascension\TypeMirror\Data\"/>
    <add key="specRefExtra" value="F:\GitHub\Ascension\APICatalogBuilder\APICatalogBuilder\DataFiles\SpecRefMissingList.json"/>
  </appSettings>
</configuration>
